@page "/Demos/ParentChild/FrmParent"
@inject IJSRuntime js
@rendermode InteractiveServer

<h3>FrmParent</h3>
<input type="button" value="부모에서 호출" @onclick="ParentCall" />

<hr/>

<FrmChild 
	FromParent="1234"
	OnParentcall="ParentCall"
		  PageIndexChanged="PageIndexChanged">
	  </FrmChild>



@code {
	protected void ParentCall()
	{
		js.InvokeAsync<object>("alert", "ParentCall 호출됨");
	}

	protected void PageIndexChanged(int pageIndex)
	{
		js.InvokeAsync<object>("alert", $"{pageIndex}인덱스 넘어옴");
	}
}
